body {
  color: aliceblue;
  background-color: #0f151b;
}

.social {
  display: flex;
}

.info {
  margin: 1.5rem 1.5rem;
  padding: 2rem 2rem;
  border: #2f6894 solid;
  background-color: #203546;
}

.data {
  display: flex;
  color: aliceblue;
  justify-content: space-evenly;
  justify-self: center;
}

.key {
  color: rgba(212, 228, 228, 0.897);
}

.value {
  color: aliceblue;
}

.card {
  background-color: #2a4b64;
}

ul.skillList {
  display: flex;
}

li {
  display: block;
}

.homepageheader {
  font-size: xx-large;
}

.top {
  margin-top: 2.5rem;
}

.login-form {
  margin-top: 10%;
  background-color: white;
}
