body {
  color: aliceblue;
  background-color: #1a2634;
}

.social {
  display: flex;
}

.info {
  margin: 1.5rem 1.5rem;
  padding: 2rem 2rem;
  border: #2f6894 solid;
  background-color: #2a4b64;
}

.data {
  display: flex;
  color: aliceblue;
  justify-content: space-evenly;
  justify-self: center;
}

.key {
  color: rgba(212, 228, 228, 0.897);
}

.value {
  color: aliceblue;
}

.card {
  background-color: #2a4b64;
}
